@import "_appear";


$cGreen: green;
$cPink: pink;
$cwhite: white;
$cBlack: black;

.container {
  text-align: center;
}

img {
  max-width: 90%;
}

.open {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 300px;
  width:150px;
  height:50px;
  margin: 0 auto;
  cursor: pointer;
}

.cubic {

  & span {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border: 2px solid $cGreen;
    line-height: 46px;
    text-align: center;
    transition: all 0.3s;
  }

  & .hovering {
    background-color: $cPink;
    color: $cwhite;
    transform: rotateX(90deg);
    transform-origin: center center -25px;
  }
  
  & .default {
    background-color: $cBlack;
    color: $cwhite;
    transform: rotateX(0);
    transform-origin: center center -25px;
  }
  &:hover {
    & .hovering {
      transform: rotateX(0);
    }
    & .default {
      transform: rotateX(-90deg);
    }
  }

}